@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Luckiest Guy';
}


.wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: rgb(201, 53, 78);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    padding-top: 20px;
    margin-bottom: 100px;
}

.play:hover {
    background-color: rgb(214, 48, 48);
}

.play {
    max-width: 200px;
    width: 50%;
    border: white 2px solid;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    transition: transform .5s;
}

/* Overlay Styles */

.overlay-game {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background: rgb(76, 218, 76);
    transform: scale(0);
    transition: all 1s ease-in-out;
}

.title-bar {
    padding: 20px;
    background-color: rgb(201, 53, 78);
    text-align: center;
    color: white;
    font-size: 30px;
}

.score-div {
    margin-top: 10px;
    font-size: 2rem;
    color: rgb(254, 51, 0);
    text-align: center;
}

/* Equation Div */

    .equation-div {
    margin: 10px auto 0;
    width: 98%;
    background-color: rgb(237, 236, 236);
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    padding: 20px 0;
    margin-top: 10px;
}

.num1 {
    font-size: 3.2rem;
    color: rgb(249, 74, 5);
}

.operator {
    font-size: 3.2rem;
    color: rgb(7, 130, 231);
}

.num2 {
    font-size: 3.2rem;
    color: rgb(192, 173, 49);
}

.equal {
    font-size: 3.2rem;
    color: rgb(208, 95, 38);
}

#ans {
    font-size: 3.2rem;
    color: rgb(91, 87, 85);
}

.choices-div {
    padding: 20px 0;
    margin-top: 5px;
}

.option1, .option2, .option3 {
    margin: 0 auto;
    width: 80%;
    padding: 5px; 
    font-size: 3.5rem;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    color: white;
    border-radius: 20px;
    transition: background-color .5s;
}

.option1 {
    background-color: rgb(249, 74, 5);
}

.option2 {
    background-color: rgb(7, 130, 231);
}

.option3 {
    background-color: rgb(69, 172, 5);
}

.option1:hover {
    background-color: rgb(206, 48, 12);
}

.option2:hover {
    background-color: rgb(0, 62, 144);
} 

.option3:hover {
    background-color: rgb(3, 133, 29);
} 

/* Modal Added ClassList */

.showOverlay {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
    
}

.hideMain {
    display: none;
}

/* For Video */

.video-div {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    opacity: 0.8;
    display: none;
    color: white;
    font-size: 2rem;
    position: relative;
}

.x-btn {
    font-size: 3rem;
    position: absolute;
    right: 20px;
    top: 0;
    font-family: sans-serif;
    transform: rotate(45deg);
    cursor: pointer;
}

.x-btn:hover {
    color: black;
}

video {
    max-width: 600px;
    max-height: 500px;
    width: 80%; 
    height: 500px;
}

.sorry {
    margin-top: 70px;

}

.showVideo {
    z-index: 500;
    display: flex;
}

/* Check overlay */

.checkBackground {
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    /* temporary */
    opacity: 0;
    z-index: -99999; 
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Holder of the ifCorrect and ifWrong div */
.check-div {
    width: 90%;
    /* min-height: 200px;
    height: 200px; */
    position: relative;
    background-color: rgb(248, 236, 229);
    border-radius: 20px;
    
}

/* This is the Modal Pop up for the check div */
.ifCorrect, .ifWrong {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0;
}

.ifCorrect {
    opacity: 1;
}

.ifWrong {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -10;
}

                    /* ifCorrect Styles */

/* This are the common Styles for .correctEquation and wrongEquation */
.correctEquation, .wrongEquation {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

/* This is for the ifCorrect div button (continue button) */
.nextBtn {
    margin: 0 auto;
    max-width: 400px;
    width: 200px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    background-color: rgb(24, 182, 24);
    margin-top: 10px;
    font-family: "Luckiest Guy";
    font-size: 1.2rem;
    cursor: pointer;
    color: rgb(237, 46, 151);
}

/* This is Style for Correct Heading in ifCorrect div */
.correctHeading {
    color: rgb(4, 148, 30);
}


.correctNum1 {
    color: rgb(249, 74, 5);
}

.correctOperator {
    color: rgb(7, 130, 231);
}

.correctNum2 {
    color: rgb(192, 173, 49);
}

.correctEqual {
    color: rgb(208, 95, 38);
}

.correctAns {
    color: rgb(91, 87, 85);
}

.correctMessage {
    letter-spacing: 1px;
    color: rgb(223, 85, 30);
}


                /* End of ifCorrect Styles */

    /* Styles for ifWrong Elements */

/* This is Style for Correct Heading in ifCorrect div */
.wrongHeading {
    letter-spacing: 1px;
    color: rgb(236, 11, 11);
}

.tryBtn {
    cursor: pointer;
    margin: 0 auto;
    max-width: 400px;
    width: 200px;
    padding: 5px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: rgb(232, 34, 20);
    margin-top: 5px;
    font-family: "Luckiest Guy";
    font-size: 1.2rem;
}

.wrongNum1 {
    color: rgb(249, 74, 5);
}

.wrongOperator {
    color: rgb(7, 130, 231);
}

.wrongNum2 {
    color: rgb(192, 173, 49);
}

.wrongEqual {
    color: rgb(208, 95, 38);
}

.wrongAns {
    color: rgb(91, 87, 85);
}

.wrongMessage {
    letter-spacing: 1px;
    color: rgb(223, 85, 30);
}

.wrongAnswerMessage{
    letter-spacing: 2px;
    color: rgb(17, 137, 17);
}


    /* End of Styles for ifWrong Elements */

/* Media Queries */

@media screen and (min-width: 480px) {
    .correctHeading {
        font-size: 2rem;
    }

    .correctNum1 {
        font-size: 3rem;
    }
    
    .correctOperator {
        font-size: 3rem;
    }
    
    .correctNum2 {
        font-size: 3rem;
    }
    
    .correctEqual {
        font-size: 3rem;
    }
    
    .correctAns {
        font-size: 3rem;
    }
    
    .correctMessage {
        font-size: 2rem;
    }

    .ifCorrect {
        padding: 20px 0;
    }

    .nextBtn {
        font-size: 2rem;
    }

    .ifWrong {
        padding: 30px 0;
    }

    .wrongHeading {
        font-size: 2rem;
    }

    .wrongNum1 {
        font-size: 3rem;
    }
    
    .wrongOperator {
        font-size: 3rem;
    }
    
    .wrongNum2 {
        font-size: 3rem;
    }
    
    .wrongEqual {
        font-size: 3rem;
    }
    
    .wrongAns {
        font-size: 3rem;
    }
    
    .wrongMessage {
        font-size: 2rem;
    }
    
    .wrongAnswerMessage{
        font-size: 2rem;
    }

    .tryBtn {
        font-size: 2rem;
    }
}




@media screen and (min-width: 769px) {
    .equation-div {
        width: 80%;
    }
}

@media screen and (min-width: 993px) {

    .equation-div {
        margin-top: 30px;
    }

    .num1, .operator, .num2, .equal, #ans {
        font-size: 5rem;
    } 

    .choices-div {
        display: flex;
        margin-top: 100px;
    }

    .option1, .option2, .option3 {
        width: 250px;
    }
}




